@tailwind base;
@tailwind components;
@tailwind utilities;

.ltr {
  direction: ltr;
}


@layer base {
  @font-face {
    font-family: "roboto";
    src: url("../../public/fonts/roboto/Roboto-Black.ttf") format("ttf");
    font-display: swap;
  } 
   @font-face {
    font-family: "Vazir";
    src: url("../../public/fonts/vazir/Vazir-Medium.ttf") format("ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana";
    src: url("../../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana Medium";
    src: url("../../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Dana DemiBold";
    src: url("../../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2")
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: url("../../public/fonts/Morabba/woff2/Morabba-Light.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Medium";
    src: url("../../public/fonts/Morabba/woff2/Morabba-Medium.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Morabba Bold";
    src: url("../../public/fonts/Morabba/woff2/Morabba-Bold.woff2")
      format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "IranSans";
    src: url("../../public/fonts/IranSans/Iranian\ Sans.ttf") format("ttf");
    font-display: swap;
  }
}

@layer components {
  .lightlinergradient {
    background: linear-gradient(
      rgba(243, 244, 246, 0.65),
      rgba(243, 244, 246, 0.65)
    );
  }
  .darklinergradient {
    background: linear-gradient(rgba(39, 39, 42, 0.65), rgba(39, 39, 42, 0.65));
  }
  .categoriBannerlinergradient {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.6) 33.85%,
      rgba(0, 0, 0, 0.1) 100%
    );
    height: 100%;
    width: 100%;
  }
  .inputStyle {
    @apply text-zinc-700 dark:text-white rounded-lg text-base/4 md:text-lg/4 h-10 bg-gray-200 dark:bg-gray-600 m-2 p-2 font-DanaDemiBold placeholder:p-2;
  } 
   .textAriaStyle {
    @apply text-zinc-700 dark:text-white rounded-lg text-base/4 md:text-lg/4 h-20 bg-gray-200 dark:bg-gray-600 m-2 p-2 font-DanaDemiBold placeholder:p-2;
  }

  .logoName {
    @apply text-wrap text-zinc-700 dark:text-white font-DanaDemiBold text-sm md:text-xl ;
  }

  .section_title {
    @apply text-2xl md:text-5xl font-MorabbaMedium text-zinc-700 dark:text-white;
  }
  .section_Sub_title {
    @apply text-lg md:text-3xl inline-block font-MorabbaLight mt-0.5 md:mt-1.5 text-zinc-700 dark:text-white;
  }
  .section_showmore {
    @apply text-base md:text-xl text-orange-300 font-Dana tracking-tightest h-10 rounded-md pr-3 pl-1 inline-flex md:gap-x-1 items-center cursor-pointer transition-colors md:hover:bg-orange-300/20;
  }

  .offerPrice {
    @apply text-gray-400 relative;
  }
  .offerPrice::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    inset: 0;
    margin: auto;
    background-color: #ef4444;
    transform: rotate(-10deg);
  }
  .comment-container {
    display: flex;
    flex-direction: column; /* این چینش عمودی است که برای لیست نظرات استفاده می‌شود */
    width: 100%;
  }
  
  .my-comment {
    align-self: flex-end; /* موقعیت یابی در سمت راست */
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .other-comment {
    align-self: flex-start; /* موقعیت یابی در سمت چپ */
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  
}

@layer utilities {
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .shadowDarkSvg {
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.3));

  }

  .shadowLightSvg {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));

  }
}


 
